In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import matplotlib.animation as animation

In [3]:
full_combine_dat = pd.read_csv('/Users/aidancook/Documents/bdb2024/data/agg_data/full_combine_dat.csv', header = 0, index_col=False)

In [4]:
full_combine_dat.head()

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,draft_team,draft_round,pick_num,draft_year
0,John Abraham,OLB,South Carolina,6-4,252.0,4.55,NaN,NaN,NaN,NaN,NaN,New York Jets,1.0,13.0,2000.0
1,Shaun Alexander,RB,Alabama,6-0,218.0,4.58,NaN,NaN,NaN,NaN,NaN,Seattle Seahawks,1.0,19.0,2000.0
2,Darnell Alford,OT,Boston Col.,6-4,334.0,5.56,25.0,23.0,94.0,8.48,4.98,Kansas City Chiefs,6.0,188.0,2000.0
3,Kyle Allamon,TE,Texas Tech,6-2,253.0,4.97,29.0,NaN,104.0,7.29,4.49,NaN,NaN,NaN,NaN
4,Rashard Anderson,CB,Jackson State,6-2,206.0,4.55,34.0,NaN,123.0,7.18,4.15,Carolina Panthers,1.0,23.0,2000.0

In [ ]:
# draft year on x axis
# need to differentiate position and pick num/round


# we could probably do each position on a separate graph because we'll care about different metrics

# could also look at the changing fraction of players at that position participating in the metric tests

# would be cool for the sake of this competition to look at how defenders' speed and strength profiles have changed over time in 
# response to an evolving, quick-pass-dominated offensive league

In [ ]:
# i think i should melt the tests first
pd.pivot_table(full_combine_dat, values = ['Pos', ''])

In [23]:
full_combine_dat.groupby(['Pos', 'draft_year']).mean()

TypeError: agg function failed [how->mean,dtype->object]

In [19]:
# let's look at WR 40 times over the year

wr_40_times = dict()
for year in full_combine_dat['draft_year'].unique():
    if pd.isnull(year):
        pass
    else:
        year_df = full_combine_dat.loc[(full_combine_dat['Pos'] == 'WR') & (full_combine_dat['draft_year'] == year)]
        wr_40_times[year] = np.nanmean(year_df['40yd'])

In [21]:
wr_40_times

{2000.0: 4.5316,
 2001.0: 4.476071428571429,
 2008.0: 4.486129032258065,
 2003.0: 4.511481481481481,
 2002.0: 4.4828,
 2006.0: 4.468214285714287,
 2004.0: 4.5200000000000005,
 2005.0: 4.459599999999999,
 2007.0: 4.453870967741934,
 2009.0: 4.436129032258065,
 2010.0: 4.491538461538462,
 2011.0: 4.473461538461539,
 2012.0: 4.458387096774194,
 2013.0: 4.47,
 2019.0: 4.468571428571428,
 2014.0: 4.4740625000000005,
 2015.0: 4.473793103448275,
 2016.0: 4.513999999999999,
 2017.0: 4.4772,
 2018.0: 4.498181818181818,
 2020.0: 4.488620689655172,
 2021.0: 4.4392000000000005,
 2022.0: 4.431,
 2023.0: 4.4828}